*{
  padding: 0;
  margin: 0;
}

.container{
  background: #000;
  display: flex;
  flex-direction: row;

  width: 100vw;
}

.left{
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.right{
  height: 100vh;
}